@import '/src/style/common';
@import '/src/style/color';

.fundingList {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include gradientMain;
  .wrapper {
    width: 100%;
    display: flex;
    margin-top: 94px;
    justify-content: space-around;
    align-items: center;
  }
  .leftCard,
  .rightCard {
    min-height: 500px;
    width: 40%;
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    .title {
      font-size: 2rem;
      margin-bottom: 16px;
    }
    .toggleBtn {
      display: flex;
      flex-direction: row;
      border: 1px solid $color_main2;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 1rem;
      .on,
      .off {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        cursor: pointer;
        padding: 6px 0;
      }
      .on {
        background-color: $color_main2;
        color: white;
      }
      .off {
        color: $color_main2;
        background-color: white;
      }
    }
    .itemWrapper {
      height: 90%;
      overflow-y: scroll;
    }
  }
  .hamburgerContainer {
    position: fixed;
    bottom: 35px;
    right: 30px;
    .hamburgerMenu {
      width: 60px;
      height: 45px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      .hamburgerIngredient {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #0a4375;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        transform-origin: left center;
      }

      .hamburgerIngredient:nth-child(1) {
        top: 0;
      }

      .hamburgerIngredient:nth-child(2) {
        top: 18px;
      }

      .hamburgerIngredient:nth-child(3) {
        top: 36px;
      }
    }
    .open {
      .hamburgerIngredient:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }
      .hamburgerIngredient:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      .hamburgerIngredient:nth-child(3) {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
      }
    }
  }
  .tmp {
    height: 2rem;
    width: 80%;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: $color_main5;
    color: white;
  }
}

@media screen and (max-width: 540px) {
  .fundingList {
    .wrapper {
      margin-top: 0;
      flex-direction: column;
      padding: 64px 0;
      .leftCard {margin-bottom: 64px;}
      .leftCard,
      .rightCard {width: 90%;}
    }

  }
}
