.invest {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58908A;
}
.container {
  width: 40%;
  height: 400px;
  padding: 4rem;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}
.title {
  width: 100%;
  font-size: 3rem;
}
.desc {
  width: 100%;
  font-size: 1rem;
}
.form {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}
.input {
  outline: none;
  line-height: 2rem;
  width: 80%;
}
.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.btn {
  width: 40%;
  border-radius: 12px;
  margin-top: 32px;
  border: none;
  font-size: 1rem;
  padding: 12px 0;
  background-color: #FBAF77;
  color: white;
  cursor: pointer;
}

