.funding {
  height: 500px;
  width: 90%;
  max-width: 300px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  .title {
    flex: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
  }
  .container {
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .investBtn {
    flex: 10%;
  }
}

