.funding {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 50%;
  background-color: white;
}
.title,
.amount,
.investorList {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.title { font-size: xx-large; }
.amount { font-size: x-large; }
.investorList {
  height: 400px;
  overflow-y: scroll;
}
.invest { width: 100%; }
.investBtn {
  background-color: white;
  border: 1px solid #282c34;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  outline: none;
}
.investor {
  display: flex;
  padding-bottom: 0.5rem;
}
.investor__name {
  margin-right: 2rem;
}

.investor__money {

}
